[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.9"
dependencies = [
    "Flask==3.0.3",
    "email-validator==2.1.1",
    "serverless-wsgi==3.0.3",
]
